@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Luxurious Roman", cursive;
}

header {
  height: 5em;
  width: 100%;
  background-color: #0e1538;
}
header nav {
  height: 5em;
  width: 100%;
}
header nav .logo {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 0.8em;
}
header nav .logo img {
  width: 2em;
}
header nav .logo p {
  color: white;
  font-size: 1.8em;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.2s;
}
header nav ul li {
  padding: 0 1em;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header nav ul li a:hover {
  background-color: #f2f2dd;
  color: #0e1538;
}
header nav button {
  border-radius: 25px;
  background-color: white;
  padding: 0.4em 0.7em;
  font-family: "Luxurious Roman", cursive;
  position: absolute;
  top: 2em;
  right: 2em;
  border: none;
  cursor: pointer;
}
header nav button span {
  border-right: 1px solid black;
  height: 1px;
  padding: 0 0.4em;
}

.background {
  height: 35em;
  width: 100%;
  background: url(/slike/background.jpeg) center no-repeat;
  background-size: cover;
  position: relative;
}
.background form {
  background-color: white;
  height: 8em;
  padding: 0.5em;
  border-radius: 25px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  justify-content: center;
}
.background form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.background form label {
  text-align: center;
}
.background form input {
  width: 15em;
  border-radius: 25px;
  height: 5em;
}
.background form input::placeholder {
  padding: 1em;
}
.background form button {
  border-radius: 50%;
  background-color: #fb5b5b;
  width: 5em;
  height: 5em;
  border: none;
  cursor: pointer;
}

main {
  height: 30em;
}
main section {
  width: 100%;
}
main section h1 {
  color: #0e1538;
  text-align: center;
  font-size: 3em;
}
main section .slike {
  padding-top: 3em;
  display: flex;
  flex-wrap: wrap;
}
main section .wrap {
  padding: 0.5em 3em;
  margin: 0 auto;
  box-shadow: 1.5px 0.3px 3px 0.2px black;
  border-radius: 8px;
}
main section .wrap img {
  width: 16em;
  height: 20em;
  border-radius: 8px;
  transition: all 0.7s;
}
main section .wrap img:hover {
  transform: scaleX(-1) scale(1.2);
}
main section .wrap p {
  font-weight: bold;
  text-align: center;
}

footer {
  margin-top: 3em;
  height: 25em;
  background-color: #0e1538;
  display: flex;
  justify-content: center;
}
footer .google {
  padding-top: 3em;
}
footer .text {
  margin-left: 1em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
}
footer .text ul {
  list-style-type: none;
  padding: 1em;
}
footer .text ul .veciFont {
  font-size: 1.2em;
}
footer .text ul li {
  color: white;
}

@media only screen and (max-width: 1082px) {
  main {
    height: 64em;
  }
  main section .slike .wrap {
    padding: 1.4em;
  }

  footer {
    margin: 0 auto;
    height: 35em;
    flex-direction: column-reverse;
    align-items: center;
  }
  footer .google {
    transform: scaleX(1.7);
  }
}
@media only screen and (max-width: 918px) {
  .background form {
    flex-direction: column;
    width: 80%;
    margin-top: 1.5em;
    height: 30em;
    width: 80%;
  }
  .background form div {
    padding: 0.4em;
    padding-left: 2em;
  }
  .background form label {
    text-align: left;
  }
  .background form input {
    width: 95%;
  }
  .background form button {
    width: 95%;
    border-radius: 12px;
  }
}
@media only screen and (max-width: 775px) {
  header {
    height: 18em;
  }
  header nav .logo {
    margin-left: 4em;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    padding-top: 1.6em;
  }
  header nav ul li {
    padding: 1em 0;
  }
  header nav ul li a {
    font-size: 1.2em;
  }
  header nav ul li a:hover {
    padding: 0.5em 10em;
  }
  header nav button {
    margin-right: 3em;
    transform: scale(1.4);
  }

  main {
    height: 84em;
  }
  main section .slike {
    flex-direction: column;
  }
  main section .slike .wrap {
    padding: 1.4em;
  }
}

/*# sourceMappingURL=main.css.map */
