@import "vars";
@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

@include start;

body {
    font-family: 'Luxurious Roman', cursive;
}

header {
    height: 5em;
    width: 100%;
    background-color: $tamno_plava;
    
    nav {
        height: 5em;
        width: 100%;
        .logo {
            display: flex;
            justify-content: left;
            align-items: center;
            padding-top: .8em;
            img {
                width: 2em;
            }
            p {
                color: white;
                font-size: 1.8em;
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            position: relative;
            transition: all .2s;
            li {
                padding: 0 1em;

               
                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        background-color: $zuta;
                        color: $tamno_plava;
                       
                    }
                }
            }
        }

        button {
            border-radius: 25px;
            background-color: white;
            padding: .4em .7em;
            font-family: 'Luxurious Roman', cursive;
            position: absolute;
            top: 2em;
            right: 2em;
            border: none;

            span {
                border-right: 1px solid black;
                height: 1px;
                padding: 0 .4em;
              

            }
        }
    }
}

.background {
    height: 35em;
    width: 100%;
    background: url(/slike/background.jpeg) center no-repeat;
    background-size: cover;
    position: relative;
    form {
        background-color: white;
        height: 8em;
        padding: .5em;
        border-radius: 25px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-30%);
        display: flex;
        justify-content: center;




        div {
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        label {
            text-align: center;
        }

        input {
            width: 15em;
            border-radius: 25px;
            height: 5em;

            &::placeholder {
               padding: 1em;
            }
        }
        button {
            border-radius: 50%;
            background-color: $crvena;
            width: 5em;
            height: 5em;
            border: none;

         
        }
    }
}

main {
    height: 30em;
    section {
        width: 100%;
        h1 {
            color: $tamno_plava;
            text-align: center;
            font-size: 3em;
        }

        .slike {
            padding-top: 3em;
            display: flex;
            
        }

        .wrap {
            padding: .5em 3em;
            margin: 0 auto;
            box-shadow: 1.5px .3px 3px .2px black;
            border-radius: 8px;
            
            

           
            img {
                width: 16em;
                height: 20em;
                border-radius: 8px;
                transition: all .7s;

                &:hover {
                    transform: scaleX(-1) scale(1.2);
                }
            }

            p {
                font-weight: bold;
                text-align: center;
            }
        }
    }
}

footer {
    margin-top: 3em;
    height: 25em;
    background-color: $tamno_plava;
    display: flex;
    justify-content: center;

    .google {
        padding-top: 3em;
    }

    .text {
        margin-left: 1em;
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-content: center;
        ul {
            list-style-type: none;
            padding: 1em;
            .veciFont {
                font-size: 1.2em;
            }

            li {
                color: white;
            }
        }
    }
}

@media only screen  and (max-width: 1082px) {
        main {
            height: 84em;

            section {

                .slike {
                    
                   flex-direction: column;

                   .wrap {
                       padding: 1.4em;
                   }
                    
                }
            }
        }

        footer {
            margin: 0 auto;
            height: 35em;
            flex-direction: column-reverse;
            align-items: center;

            .google {
                transform: scaleX(1.7);
            }
        }
}

@media only screen  and (max-width: 918px) {
    
    .background {
        

        form {
            flex-direction: column;
            width: 80%;
            margin-top: 1.5em;
            height: 30em;
            width: 80%;
            
            
            div {
                padding: .4em;
                padding-left: 2em;
            }

            label {
                text-align: left;
            }

            input {
                width: 95%;
            }

            button {
                width: 95%;
                border-radius: 12px;
                
            }
        }
    }
}


@media only screen  and (max-width: 775px) {
        
header {
    height: 18em;
    nav {
        .logo {
           margin-left: 4em;
        }

        ul {
            flex-direction: column;
            align-items: center;
            padding-top: 1.6em;
            
             
            li {
                padding: 1em 0;
                
                a {
                    font-size: 1.2em;
                }
            }
        }
        button {
            margin-right: 3em;
            transform: scale(1.4);
        }
    }
}
}



