@import "vars";
@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

@include start;

html {
    font-family: 'Luxurious Roman', cursive;
}

header {
    height: 5em;
    width: 100%;
    background-color: $tamno_plava;
    
    nav {
        height: 5em;
        width: 100%;
        .logo {
            display: flex;
            justify-content: left;
            align-items: center;
            padding-top: .8em;
            img {
                width: 2em;
            }
            p {
                color: white;
                font-size: 1.8em;
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            position: relative;
            li {
                padding: 0 1em;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }

        button {
            border-radius: 25px;
            background-color: white;
            padding: .4em .7em;
            font-family: 'Luxurious Roman', cursive;
            position: absolute;
            top: 2em;
            right: 2em;
            border: none;
            span {
                border-right: 1px solid black;
                padding: .5em;
                height: 50%;

            }
        }
    }
}

.background {
    height: 35em;
    width: 100%;
    background: url(/slike/background.jpeg) center no-repeat;
    background-size: cover;
    position: relative;
    form {
        background-color: white;
        height: 8em;
        padding: .5em;
        border-radius: 25px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-30%);
        display: flex;
        justify-content: center;




        div {
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        label {

        }

        input {
            width: 15em;
            border-radius: 25px;
            height: 5em;
        }
        button {
            border-radius: 50%;
            background-color: $crvena;
            width: 5em;
            height: 5em;
            border: none;

         
        }
    }
}

main {
    height: 25em;
    section {

        h1 {
            color: $tamno_plava;
            text-align: center;
            font-size: 3em;
        }

        .slike {
            display: flex;
        }

        .wrap {

            img {
                width: 16em;
                height: 20em;
            }

            p {
                
            }
        }
    }
}